* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 350px;
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-box input {
  padding: 12px;
  border-radius: 5px;
  border: none;
}

.login-box button {
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.dashboard-layout {
  display: flex;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  background: #1e293b;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 15px;
  cursor: pointer;
}

.dashboard-content {
  flex: 1;
  padding: 30px;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}
.expense-input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

.expense-btn {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.expense-table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

.expense-table th,
.expense-table td {
  border: 1px solid #334155;
  padding: 10px;
  text-align: left;
}
.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar a:hover {
  color: #60a5fa;
}